#loginform{
    margin: 5% auto;
    display: table;
    padding: 1%;
}

#loginform form{
    border: solid 2px;
    border-color: rgb(80, 80, 80);
    border-radius: 2%;
    padding: 8%;
    position: relative;
    margin-top: 7%;
    text-align: center;
}

#loginInput{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 3px;
    margin-top: 3%;
    padding: 2%;
    height: 30px;
    width: 300px;
    font-size: 20pt;
}

#loginInput:hover{
    background-color: rgb(220, 253, 255);
    transition-duration: 0.5s;
}

#loginSubmit{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin-top: 3%;
    padding: 2%;
    height: 40px;
    width: 100px;
    font-size: 13pt;
}

#loginSubmit:hover{
    background-color: rgb(161, 255, 255);
    transition-duration: 1s;
}

/* This marks the end of the login page */

#signup{
    text-align: center;
    margin: 5% auto;
    display: table;
    border: solid 2px;
    border-color: rgb(80, 80, 80);
    border-radius: 2%;
    padding: 2%;
}

/* This marks the end of the signup page */

#NavBar{
    background-color: rgb(161, 255, 255);
}

#logo, #profile, #profile{
    display: inline;
}

#pre-logo{
    text-align: center;
    background-color: rgb(161, 255, 255);
}

#container{
    position: absolute;
    top: 0;
    background-color: rgb(161, 255, 255);
    width: 1440px;
    height: 85px;
}

#logo{
    position: absolute;
    top: 0%;
    left: 44%;
}

#profile{
    position: absolute;
    top: 0%;
    right: 9%;
}

#logout{
    position: absolute;
    top: 0%;
    right: 1%;
}

div[id^="post_"]{
    margin: 1% auto;
    box-sizing: content-box;
    width: 50%;
    border: solid 2px;
    border-color: black;
    padding: 2%;
}

div[id^="comment_"]{
    box-sizing: content-box;
    width: 50%;
    margin-top: 1%;
    border: solid 2px;
    border-color: black;
    padding: 2%;
}

#PostForm{
    margin: 0 auto;
    margin-bottom: 1%;
    box-sizing: content-box;
    width: 44%;
    padding: 1% 5% 1% 5%;
    border: solid 2px;
    border-color: black;
}
#PostForm input[type="text"]{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 3px;
    margin-top: 3%;
    padding: 2%;
    height: 30px;
    width: 600px;
    font-size: 20pt;
}

#PostForm textarea{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 3px;
    margin-top: 3%;
    padding: 2%;
    height: 100px;
    width: 600px;
    font-size: 15pt;
}

#PostForm input[type="submit"]{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin: 2% 40%;
    padding: 2%;
    height: 45px;
    width: 100px;
    font-size: 13pt;
}

#commentform{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 3px;
    height: 100px;
    width: 700px;
}

/* This is the end of the home page */

#userInfo{
    text-align: center;
}

#UserPost{
    text-align: center;
    margin: 1% auto;
    box-sizing: content-box;
    width: 40%;
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
}

h5#userposts{
    text-align: center;
}

#editPost{
    margin: 5% auto;
    text-align: center;
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    box-sizing: content-box;
    width: 800px;
}

#editPost input[type="text"]{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 3px;
    margin-top: 3%;
    padding: 2%;
    height: 30px;
    width: 600px;
    font-size: 20pt;
}

#editPost textarea{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 3px;
    margin-top: 3%;
    padding: 2%;
    height: 100px;
    width: 600px;
    font-size: 15pt;
}

#editPost input[type="submit"]{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin: 2% 0%;
    padding: 2%;
    height: 50px;
    width: 100px;
    font-size: 13pt;
}

/* This is the end of the Profile page */