html{
    background-color: rgb(236, 236, 236);
}

button, input[type="submit"]{
    cursor: pointer;
}

label{
    font-weight: bold;
}

#loginformContainer{
    margin: 50px auto;
    width: 600px;
    height: 400px;
    text-align: center;
    border-radius: 2px;
    border: solid lightgrey 1px;
    background-color: white;
    box-shadow: 0 1px 3px lightgrey;
}

#loginForm{
    width: 90%;
    height: 100%;
    padding: 5%;
}

.login{
    margin: 1%;
}

.loginInput{
    border: solid lightgrey 1px;
    border-radius: 2px;
    margin-top: 3%;
    padding: 2%;
    height: 30px;
    width: 94%;
    font-size: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginInput:hover{
    background-color: rgb(220, 253, 255);
    transition-duration: 0.5s;
}

.loginInput:-webkit-autofill::first-line {font-size: 20px}

#loginSubmit{
    border: solid lightgrey 1px;
    border-radius: 4px;
    margin-top: 1%;
    padding: 2%;
    font-size: 16px;
}

#loginSubmit:hover{
    background-color: rgb(161, 255, 255);
    transition-duration: 1s;
}
#loginSubmit:active{
    outline: none;
    background-color: rgb(0, 53, 53);
}

/* This marks the end of the login page */

#signup{
    text-align: center;
    margin: 7% auto;
    display: table;
    border: solid 2px;
    border-color: rgb(80, 80, 80);
    border-radius: 2%;
    padding: 2%;
}

#signupSubmit{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin: 2% 0 0 0%;
    padding: 2%;
    height: 40px;
    width: 30%;
    font-size: 13pt;
    cursor: pointer;
    outline: none;
}

#signupSubmit:hover{
    background-color: rgb(161, 255, 255);
    transition-duration: 1s;
}

/* This marks the end of the signup page */

#logoContainer{
    text-align: center;
}

#logo{
    padding: 5px 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
    background-color: white;
    overflow: hidden;
}

#NavBarContainer{
    background-color: rgb(161, 255, 255);
    border: solid lightgrey 1px;
    margin-bottom: 1%;

    width: 100%;
    overflow: hidden;
}

#NavBar{
    margin: 1%;
    display: flex;
}

#NavBar li{
    list-style-type: none;
    flex: 1 1 25%;
    font-size: 18px;
    font-weight: bold;
}

#pre-logo{
    background-color: rgb(161, 255, 255);
    margin-block-start: 10px;
    margin-block-end: 10px;
    font-weight: normal;
}

#container{
    text-align: center;
    background-color: rgb(161, 255, 255);
    border: solid lightgrey 1px;
    width: 100%;
}

#home{
    display: flex;
}

#PostForm{
    margin: 0 1%;
    width: 40%;
    height: 550px;
    padding: 1% 3%;
    text-align: center;

    border: solid lightgray 1px;
    border-radius: 2px;
    box-shadow: 0 0 3px lightgrey;
    background-color: white;

    display: flex;
    flex-direction: column;
}

#postContainer{
    width: 100%;
    flex: 1 1 50%;
}

#imagesContainer{
    overflow-x: scroll;
}

#imagesContainer, #uploadformContainer{
    flex: 1 1 50%;
}

.images{
    margin: 0 auto;
    width: 100%;
    height: 50%;
    display: flex;
    overflow: auto;
    border: solid lightgrey 1px;
    border-radius: 4px;
    box-shadow: 0 0 3px lightgrey;
}

.imgFlex{
    flex: 1 0 30%;
    margin: 1%;
}

.img{
    width: 100%;
    height: 100%;
}

.postTitle{
    text-align: center;
}

.authorLocation, .createdUpdated{
    display: inline-block;
}

.postCaption{
    border: solid lightgrey 1px;
    border-radius: 4px;
    box-shadow: 0 0 3px lightgrey;
    padding: 10px;
}

.createdUpdated{
    font-size: 12px;
    font-weight: bold;
}

#PostForm input[type="text"]{
    border: solid lightgrey 1px;
    background-color: whitesmoke;
    border-radius: 4px;
    margin-top: 3%;
    padding: 2%;
    height: 10%;
    width: 95%;
    font-size: 18px;
}

#PostForm textarea{
    border: solid lightgrey 1px;
    background-color: whitesmoke;
    border-radius: 4px;
    margin-top: 3%;
    padding: 2%;
    height: 100px;
    width: 95%;
    font-size: 16px;
    resize: none;
}

#PostForm input[type="submit"]{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin: 2% 40%;
    padding: 2%;
    height: 10%;
    width: 25%;
    font-size: 13pt;
}

#posts{
    overflow: scroll;
    height: 600px;
    width: 100%;
    margin: 0 1%;
}

article[id^="post_"]{
    width: 95%;
    padding: 2%;
    font-weight: bold;
    margin-bottom: 1%;
    
    border: solid lightgrey 1px;
    background-color: white;
    border-radius: 2px;
}

article[id^="comment_"]{
    box-sizing: content-box;
    width: 94%;
    margin-top: 1%;
    border: solid 2px;
    border-color: black;
    background-color: white;
    border-radius: 5px;
    padding: 2%;
}

#commentform{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 3px;
    height: 100px;
    width: 98%;
    resize: none;
}

#commentsubmit{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
}

#deleteComment{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin: 1% 40%;
    padding: 1%;
    width: 20%;
    font-size: 13pt;
} 

/* This is the end of the home page */

#userInfo{
    text-align: center;
}

#UserPost{
    text-align: center;
    margin: 1% auto;
    box-sizing: content-box;
    width: 40%;
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
}

h5#userposts{
    text-align: center;
}

#editPost{
    margin: 5% auto;
    text-align: center;
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    box-sizing: content-box;
    resize: none;
    width: 800px;
}

#editPost input[type="text"]{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 3px;
    margin-top: 3%;
    padding: 2%;
    height: 30px;
    width: 600px;
    font-size: 20pt;
}

#editPost textarea{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 3px;
    margin-top: 3%;
    padding: 2%;
    height: 100px;
    width: 600px;
    font-size: 15pt;
}

#editPost input[type="submit"]{
    border: solid 1px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin: 2% 0%;
    padding: 2%;
    height: 50px;
    width: 100px;
    font-size: 13pt;
}

/* This is the end of the Profile page */